#homeSection, #footer{
  background-color: #212529;
}
#homeSection h1{
  font-weight: bolder;
  font-size: 3.5rem;
}
#homeSection p{
  color: #899294;
  font-weight: 400;
  font-size: 1.25rem;
}
.col-3{
  width: 270px;
  padding: 0;
  margin: 25px;
  border-radius: 10px;
  border: 1px solid #899294;
}
